{% extends "base_generic.html" %}

{% block title %}<title>Hamed's Local Library</title>{% endblock %}

{% block content %}
  <h1>Hamed's Local Library Home</h1>
  <p>Welcome to Hamed's Local Library, developed by <em>Hamed Drame</em>🚀</p>
  <h2>Contents</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

  <p>You visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}